body {
  background-color: rgb(211, 218, 218);
}

.appshell {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  margin: 15px;
  margin-top: 150px;
  overflow: hidden;
}

.appshell-container {
  background-color: white;
  margin: 10px;
  text-align: center;
  height: auto;
  width: 350px;
  align-items: center;
  border: transparent;
  border-radius: 15px;
  padding: 10px;
  box-shadow: 0 5px 5px 5px rgb(113, 113, 113);
}

.appshell-container h1 {
  font-size: 17px;
}

.appshell-container {
  font-size: 15px;
  margin-top: 0;
  color: rgb(74, 74, 74);
}
