.form {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin: 10px 10px 5px;
}

.form-input {
  flex: 1;
  border-radius: 7px;
  padding: 5px;
  text-transform: capitalize;
}

.form-btn {
  font-size: 10px;
  border-radius: 7px;
  padding: 2px 15px;
  color: white;
  background-color: rgb(42, 108, 249);
  cursor: pointer;
  border: transparent;
}
