.weathercard {
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 5px 5px 5px rgba(214, 214, 214, 0.655);
  margin: 10px 5px;
}

.weathercard-details {
  display: flex;
  gap: 5px;
  justify-content: space-between;
  border-radius: transparent;
  margin: 5px;
}

.weathercard-city,
.weathercard-temperature,
.weathercard-condition {
  color: black;
}

.weathercard-city {
  font-size: 20px;
  margin: 0 0 8px;
}

.weathercard-temperature {
  margin: 0 0 10px;
  font-weight: 700;
  line-height: 1;
  font-size: 30px;
}

.weathercard-condition {
  margin: 0 10px;
}

.weathercard-detail {
  min-width: 140px;
  padding: 0;
  border: 1px solid rgb(206, 203, 203);
  border-radius: 10px;
  background-color: rgb(235, 237, 239);
}

.weathercard-detail h3 {
  font-size: 13px;
  font-weight: 200;
  margin: 5px;
}

.weathercard-detail strong {
  display: block;
  width: 100%;
  margin: 0;
  padding: 3px 0;
  background-color: white;
  text-align: center;
  border-radius: 0 0 10px 10px;
}
