.weathercard {
  margin-top: 7px;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 5px 5px 5px rgb(214, 214, 214);
  margin: 5px;
}

.weathercard-details {
  display: flex;
  justify-content: space-between;
  border-radius: transparent;
  margin: 5px;
}

.weathercard-city {
  font-size: 20px;
  margin: 0;
}

.weathercard-temperature {
  margin: 0;
  font-weight: 700;
  line-height: 1;
}

.weathercard-detail {
  min-width: 120px;
  display: block;
  padding: 0;
  border-radius: 8px;
  background-color: rgb(193, 195, 197);
}
